body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    margin-bottom: 60px;
}

.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px; /* Aumentar tamaño de "Bienvenido" */
}

.wrapper {
    width: 100%;
    max-width: 500px; /* Aumentar tamaño del formulario */
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#formContent {
    padding: 20px;
}

.logo img {
    width: 250px; /* Aumentar tamaño del logo */
    display: block;
    margin: 0 auto 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px; /* Aumentar tamaño de las etiquetas */
}

.form-control {
    width: 100%;
    padding: 12px; /* Aumentar tamaño de los campos de entrada */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px; /* Aumentar tamaño del texto en los campos de entrada */
}

.button {
    width: 100%;
    padding: 12px; /* Aumentar tamaño del botón */
    background-color: #d9534f;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px; /* Aumentar tamaño del texto en el botón */
}

.button:hover {
    background-color: #c9302c;
}

.button-secondary {
    display: block;
    text-align: center;
    margin-top: 20px;
    padding: 12px; /* Igualar estilo del botón de "Registrarse" */
    background-color: #776c58; /* Color de fondo similar */
    color: #fff; /* Color de texto */
    border-radius: 4px;
    font-size: 18px; /* Aumentar tamaño del texto en el botón */
    text-decoration: none;
}

.button-secondary:hover {
    background-color: #776c58;
}

.alert {
    color: #d9534f;
    text-align: center;
    font-size: 16px; /* Aumentar tamaño del mensaje de error */
}
